[submodule "themes/whisper"]
	path = themes/whisper
	url = https://github.com/swarit-pandey/hugo-whisper-theme.git
[submodule "themes/bare"]
	path = themes/bare
	url = https://github.com/orf/bare-hugo-theme.git
